<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <div style="margin-left: 32px;">
    <h1>Delete Component</h1>
    <table border="1px">
        <tr>
            <th>Komponen</th>
            <th>Action</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
            <td><%= el.komponen %></td>
            <td>
                <a href="/component/delete/<%= el.id %>">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </a>
            </td>
        </tr>
        <% }) %>
    </table>
</div>
    <%- include('partials/foot.ejs') %>