<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <% let fullKomponen = '' %>
    <% data.Components.forEach(el => { %>
    <% fullKomponen += el.komponen %>
    <!-- <h1><%= el.komponen %></h1> -->
    <% }) %>
    <h1>Halo, <%= data.name %></h1>
    <h3><%= fullKomponen %></h3>
    <a href="/component/add"><button type="button">Tambah Komponen</button></a>
    <a href="/component/delete"> <button type="button">Hapus Komponen</button></a>

    <h5>Ingin tahu lebih banyak tentang kepribadianmu?</h5>

    <a href="/personalities"><button type="button">Click Me!</button></a>

    <%- include('partials/foot.ejs') %>